.progressNotification {
  width: 100%;
  text-align: center;
  span {
    font-family: 'Source Code Pro', monospace;
    color: #1805e6;
    border-bottom: 1px solid #1805e6;
    padding-bottom: 5px;
  }
}
