.progressNotification {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  span {
    font-family: 'Source Code Pro', monospace;
    color: #1805e6;
    display: block;
    margin-bottom: 20px;
  }
}
